body {
    margin: 0;
    font-family: Arial, sans-serif;
}
table{
    align-items: center;
}
button{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin: 10px 0;
    background-color: rgb(70, 156, 240);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input{
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
}