.sidebar {
  height: 100%;
  width: 150px;
  background-color: #E4E0E0;
  position: fixed;
  z-index: 1;
  overflow: auto
}

.logo {
  width: 60px;
  height: 40px;
  margin: 25px 0px 10px 0px;
  display: inline-block;
}

h3 {
  display: inline-block;
  width: 12%;
  font-size: 15px;
}

.sidebar-container {
  display: flex;
  height: 70vh;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.sidebar-container table {
  width: 90%;
  height: 100%;
}

.side-arrow {
  position: relative;
  padding-left: 87%;
}

.heading-admin {
  position: absolute;
  margin: 5% 0 0 30%;
  width: 80%;
  display: flex;
  align-items: center;
}

.heading-admin div {
  display: inline-block;
}

.ESP32-button {
  border: 2px solid;
  border-radius: 4px;
  background-color: rgb(114, 114, 235);

}

.on-off-button {
  background-color: gainsboro;
  width: 130px;
  height: 30px;
  margin: 40vh 0 0 60%;
  border-radius: 4px;
  cursor: pointer;
}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0 0 190px;
  width: 70%;
}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
  border: 1px solid #dddddd;
}

.action-button {
  background-color: #ff0000;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  text-transform: uppercase;
}